html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/css/main.css')
  body
    include header.pug
    h1 Obtener elemento
    form(action="/update", method="POST")
        input(
            value=item._id,
            name='id'
        )
        input(
            value=item.title,
            name="title"
        )
        textarea(
            value=item.description, 
            cols="30", 
            rows="10",
            name="description"
        )=item.description
        img(
            src='http://localhost:7000/uploads/' + item.filename,
            width="500"
        )
        input(type="submit", value="Actualizar imagen")
        a(href="/delete/" + item._id) Eliminar Imagen

    
        